@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

html{
    position: fixed;
    font-size: 62.5%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('./images/background.jpg');
    background-position: center;
    background-size:cover;
}

h1{
    font-size: 3.6rem;
    color: white;
    margin-bottom: 2.5rem;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container--main {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#add--input{
    width: 26rem;
    height: 3.4rem;
    color: black;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0);
}

#main--form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-64{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    line-height: 0.5rem;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 1rem;
}
  
.button-64:active, .button-64:hover{
    outline: 0;
}
  
.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
  
.button-64:hover span{
    background: none;
}

#add--section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 26, 159, 0.3);
    height: 6rem;
    width: 100%;
    border-top-right-radius: 3rem;
    border-top-left-radius: 0.5rem;
}

#tasks--section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    width: 44rem;
    background-color: rgba(222, 121, 219, 0.5);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 0.5rem;
}

#tasks--list{
    width: 85%;
}

.tasks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.992);
    margin: 1.4rem;
    list-style-type: none;
    height: 3.6rem;
    padding: 2rem;
    border: solid rgba(251, 4, 4, 0.327) 0.4rem;
    border-radius: 0.8rem;
}

.button--default{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: #9500ff3d;
    border: transparent;
    border-radius: 0.5rem;
}

.done{
    height: 2rem;
    width: 2rem;
    background-image: url('images/check-mark-sign.png');
    background-size: cover;
}

.description--task{
    font-size: 1.8rem;
    color: black;
}

.button--options{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 5rem;
}

.edit--task{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   top: 4rem;
   right: 8rem;
   height: 4rem;
   background-color: rgba(255, 0, 0, 0.800);
   padding: 1rem;
   min-width: 36rem;
   display: none;
}

.edit{
    background-image: url('images/pen.png');
    background-size: contain;
}

.delete{
    background-image: url('images/trash\ \(2\).png');
    background-size: contain;
}

.button--edit--options{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 10rem;
}

.button--edit--default{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 4.5rem;
    background-color: rgb(203, 205, 207);
}

.vanish{
    display: none;
}

.display_default{
    display: block;
}

#message{
    position: relative;
    left: 17rem;
    font-size: 2.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.700);
}

.save{
    background-image: url('images/save.png');
    background-size:cover;
}

.cancel{
    background-image: url('images/disabled.png');
    background-size:cover;
}
